var path = require('path'),
    config;

config = {
	production: {
    	url: 'http://{{ domain_name }}',
        urlSSL: 'https://{{ domain_name }}',

    	mail: {
    	transport: 'SMTP',
        	options: {
            	service: 'Mailgun',
            	auth: {
                	user: '{{ mailgun_smtp_username }}',
                	pass: '{{ mailgun_smtp_password }}'
            	}
        	}
    	},

    	database: {
        	client: 'sqlite3',
        	connection: {
            	filename: path.join(process.env.GHOST_CONTENT, '/data/ghost.db')
        	},
        	debug: false
    	},

    	server: {
        	host: '0.0.0.0',
        	port: '{{ ghost_port }}'
    	},

    	paths: {
        	contentPath: path.join(process.env.GHOST_CONTENT, '/')
    	}
	}
};

// Export config
module.exports = config;
